@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a</h1>
    <p class="fs-5">a BookLender.</p>
    <button class="btn-ingreso btn btn-lg btn-info"><strong>Ingresar</strong></button>
</div>
