@{
    ViewData["Title"] = "Creditos";
}
<h1>@ViewData["Title"]</h1>

<p><strong>Creado Por:</strong> Mauricio Altamirano</p>
<p><strong>Tipo:</strong> Aplicacion Web de ASP.net Core(Modelo-Vista-Controlador)</p>
<p><strong>Asignatura:</strong> Programacion IV</p>
<p><strong>Carrera:</strong> Tecnicatura Superior en Desarrollo de Software - 5to Cuatrimestre</p>